@model Portfolio.Models.Contact

@{
    ViewData["Title"] = "Index";
}





<section id="contact" class="contact" style="margin-left:150px">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Senpara-Parbata,Mirpur,Dhaka</p>

                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>istiaquechowdhury430@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>01925577927</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">


                <form method="post" asp-controller="Contact" asp-action="Create">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Name">Your Name</label>
                            <input type="text" asp-for="Name" class="form-control" required />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Email">Your Email</label>
                            <input type="email" asp-for="Email" class="form-control" required>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject">Subject</label>
                        <input type="text" asp-for="Subject" class="form-control" required>
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Message">Message</label>
                        <textarea class="form-control" asp-for="Message" rows="10" required></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <button type="submit">Submit</button>
                    </div>
                </form>

            </div>

        </div>

    </div>
</section>



