
@{
    ViewData["Title"] = "Index";
}



<section id="portfolio" class="portfolio section-bg"style="margin-left:150px">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>"Your portfolio is not just a collection of work; it's a narrative of your skills, passion, and journey as a creator or professional."</p>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-card">Card</li>
                    <li data-filter=".filter-web">Web</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CategoryCrudWebProject"><i class="bx bx-plus"></i></a>
                        <a href="https://github.com/istiaquechowdhury/BulkybookWebApplication" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PetShopInventory"><i class="bx bx-plus"></i></a>
                        <a href="https://github.com/istiaquechowdhury/Pet-shop-inventory" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="AttandanceSystem"><i class="bx bx-plus"></i></a>
                        <a href="https://github.com/istiaquechowdhury/ConsoleBasedAttendanceSystemProject" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Resume"><i class="bx bx-plus"></i></a>
                        <a href="https://istiaque.bsite.net/" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

           

        </div>

    </div>
</section>