
@{
    ViewData["Title"] = "AboutMe";
}

<section id="about" class="about container-background " style="margin-right:150px">
    <div class="container mt-2 me-5">

        <div class="section-title">
            <h2>About Me</h2>
            <p>Someone who has passion for coding and love to solve problems with Code</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="assets/img/Istiaque.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3> Web Developer.</h3>

                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>22 april 1998</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>01925577927</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Mirpur,Dhaka</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>26</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span></li>
                            <li>
                                <i class="bi bi-chevron-right"></i> <strong>Email:</strong> <p>
                                    istiaquechowdhury
                                    430@gmail.com
                                </p>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h3> Coding Profile</h3>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Beecrowd:</strong> <span><a href="https://judge.beecrowd.com/en/profile/911684">Beecrowd</a></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Codeforces:</strong> <span><a href="https://codeforces.com/profile/istiaquechowdhury">Codeforces</a></span></li>

                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h3> Courses</h3>
                        <p>Successfully passed "Professional Programming with C# from Devskill"</p>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Devskill:</strong> <span><a href="https://devskill.com/certificate/721/mw51aj3xbt4?referralCode=ISTD012321">Certificate</a></span></li>

                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h3> CV Download</h3>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <span><a href="~/IstiaqueChowdhuryResume.pdf">Download Cv</a></span></li>

                        </ul>
                    </div>
                </div>
                <p>
                </p>
            </div>
        </div>

    </div>
</section>