


<section id="hero" class="d-flex flex-column justify-content-center align-items-center" style="margin-left:150px">
    <div class="hero-container" data-aos="fade-in">
        <partial name="_notification" />
        <h1>Istiaque Chowdhury</h1>
        <p>I'm <span class="typed" data-typed-items="ASP.NET Developer,Good at C# ASP.NET MSSQL SERVER"></span></p>
    </div>
</section>